HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
DATABASE_FILENAME=

BREVO_API_KEY=
BREVO_DEFAULT_FROM=
BREVO_DEFAULT_FROM_NAME=
BREVO_DEFAULT_TO=
BREVO_DEFAULT_REPLY_TO=

APP_URL=